# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.env
*.env

# Data files (downloaded by script)
data/
*.jsonl

# Generated logs (unless you want to commit specific examples)
logs/
*.json

# Saved models and large files
finetuned_t5_model_fid/
*.pkl
*.bin
*.safetensors
kilt_knowledgesource.json # Ensure this large file isn't committed

# IDE / OS specific
.idea/
.vscode/
*.DS_Store
